.header {
  background-color: #f4f7f6;
  position: sticky;
  width: 100%;
  height: 71px;
  left: 0;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  @include breakpoint(767) {
    height: 50px;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include breakpoint(767) {
      justify-content: flex-start;
    }
    .header__menu-left {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #e0e0e0;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
      @include breakpoint(767) {
        width: 50px;
      }
      button {
        outline: none;
        border: none;
        color: #000000;
        background-color: transparent;
        display: block;
        width: 26px;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          display: block;
          margin: 4px 0;
          background-color: #000000;
        }
      }

      p {
        margin-left: 12px;
        font-size: 14px;
        text-transform: uppercase;
        color: #000000;
        font-weight: 400;
        @include breakpoint(767) {
          display: none;
        }
      }
    }
    .header__menu-logo {
      @include breakpoint(767) {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-basis: 100%;
      }
    }
    ul.header__menu-right {
      display: flex;
      align-items: center;
      @include breakpoint(767) {
        display: none;
      }
      li {
        width: 110px;
        text-align: center;
        height: 100%;
        position: relative;
        a.menu__right-links {
          text-transform: uppercase;
          height: 100%;
          line-height: 71px;
          transition: 0.4s ease-in-out;
          display: block;
          font-weight: 700;
        }
        .dropdown {
          position: absolute;
          top: calc(100% + 1px);
          right: 0;
          width: 200%;
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
          background-color: #fff;
          z-index: -990;
          transform: translateY(50px);
          transition: 0.3s;
          visibility: hidden;
          opacity: 0;
          a {
            display: block;
            color: #000;
            font-weight: 700;
            text-align: end;
            padding: 15px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            transition: 0.4s;
            &:hover {
              background: #d6cece;
            }
          }
        }
      }
      li:nth-child(2) {
        overflow: hidden;
        &:hover {
          overflow: unset;
        }
        &:hover .dropdown {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
          z-index: 90;
        }
        a.menu__right-links {
          color: #ffffff;
          background: #49c5b6;
          display: block;
          &:hover {
            background: #379c91;
          }
        }
      }
      li:nth-child(1) {
        a {
          color: #000;
          &:hover {
            color: #b4b4b4;
          }
        }
      }
    }
  }
}
