.navbar {
  width: 320px;
  height: 100%;
  background: #ffffff;
  border-right: 1px solid #e0e0e0;
  position: fixed;
  top: 71px;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s ease;
  transform: translateX(-100%);
  z-index: 90;
  @include breakpoint(767) {
    top: 50px;
  }
  .nav__list {
    width: 100%;
    a {
      width: 100%;
      display: block;
      color: #000;
      font-weight: 700;
      padding: 20px;
      border-bottom: 1px solid #e0e0e0;
      transition: 0.4s;
      &:hover {
        background: #d6cece;
      }
    }
    a.active {
      background-color: #00afab;
      color: #fff;
    }
  }
}
.show {
  transform: translateX(0);
}
// .translate {
//   transform: translateX(320px);
// }
.overlay-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 60;
  display: none;
}
.show-overlay {
  display: block !important;
}
.overflow {
  overflow: hidden !important;
}
