.about 
    .container
        .row
            .col-lg-8.mx-auto
                .about__content 
                    p The readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    .line
