.action 
    .container
        .row
            .col-lg-10.mx-auto
                h3 Bạn đã sẵn sàng trở thành chiến binh tiếp theo của Team CFD chưa?
                .btn-main
                    a(href="" class = "btn") Đăng ký
