.course 
    .course__offline
        .container
            +title("KHÓA HỌC","OFFLINE")
            .course__list
                .row
                    +course("Front-end cơ bản","images/home/course2.jpg")
                    +course("React JS","images/home/course2.jpg")
                    +course("Animation","images/home/course2.jpg")
                    +course("SCSS, Grunt và Bootstrap 4","images/home/course2.jpg")
                    +course("UI/UX Design","images/home/course2.jpg")
                    +course("Web Responsive","images/home/course2.jpg")
    .course__online
        .container
            +title("KHÓA HỌC","ONLINE")
            .course__list
                .row 
                    +course("SCSS, Grunt và Bootstrap 4","images/home/course2.jpg")
                    +course("UI/UX Design","images/home/course2.jpg")
                    +course("Web Responsive","images/home/course2.jpg")