.footer
    .footer__top
        .container 
            .row
                .col-lg-5.col-md-6
                    .footer__left
                        .footer__decs
                            p Sáng tạo, tinh tế và phù hợp sẽ 
                                | khiến sản phẩm của bạn trở nên khác biệt.
                        .footer__contact
                            ul
                                li Số 11, Phan Kế Bính, Quận 1, TP. Hồ Chí Minh
                                li (+84) 98 9596 913
                        .footer__social
                            a(href="")
                                img(src="./images/layouts/fb.svg", alt="")
                            a(href="")
                                img(src="./images/layouts/email.svg", alt="")
                            a(href="")
                                img(src="./images/layouts/skype.svg", alt="")
                .col-lg-6
                    .footer__right 
                        ul.footer__right-list 
                            li.footer__list-items
                                a(href="") Trang chủ
                            li.footer__list-items
                                a(href="") Khóa học
                            li.footer__list-items
                                a(href="") Thanh toán 
                            li.footer__list-items
                                a(href="") Điều khoản
                            //- .backtotop
                            //-     .line  
                            //-         span Cuộn lên
    .copyright
        .container
            .decs
                p 2020 Creative Front-End Dev
                p Được thiết kế và lập trình bởi CFD Team