.header 
    .header__menu
        .header__menu-left
            button
                span
                span
                span
            p menu
        .header__menu-logo
            a(href="") 
                img(src="./images/layouts/logo.jpg", alt="")
        ul.header__menu-right
            li.menu__right-items
                a(href="" class = "menu__right-links") Đăng nhập
            li.menu__right-items
                a(href="" class = "menu__right-links") Đăng ký
                .dropdown
                    a(href="#") Khóa học của tôi
                    a(href="#") Thông tin tài
                    a(href="#") Đăng xuất