.navbar 
    .nav__list
         a(href="index.html" class = " active")  Trang chủ
         a(href="index")  Khóa học
         a(href="")  CFD team
         a(href="")  Hỏi đáp
         a(href="")  Hợp tác
.overlay-menu