mixin course(title,src)
    .col-lg-4.col-md-4
        .course__items
            .course__items-image
                img(src=src, alt="")
                .overlay
            .course__items-decs
                a(href="")=title
                p.sub One of the best corporate fashion brands in Sydney
            .course__items-author
                .avatar
                    img(src="../images/home/avt.svg", alt="")
                    span.name Trần Nghĩa
                .registration
                    a(href="") Đăng ký